<%- include('layout/header.ejs') %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Edit Offer</h2>
        </div>
        <div>
            <input type="text" placeholder="Search Offers" class="form-control bg-white">
        </div>
    </div> 
    <div class="card">
        <p class="alert alert-success" id="success_mess" style="display: none;"></p>
        <% if(locals.message) { %>
            <div class="error1 alert alert-danger w-75"><%= locals.message %></div>
        <% } %>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    
                    <form id="editofferform">
                        <% if(locals.offerdata) { %>
                        <input type="hidden" id="offerid" value="<%= locals.offerdata._id %>">
                        <div class="mb-4">
                            <label for="offertitle" class="form-label">Title</label>
                            <input type="text" placeholder="Type here" value="<%= locals.offerdata.offertitle %>" class="form-control" id="offertitle" name="offertitle">
                            <p class="perror mb-2" id="error1" style="display: none; color: red;"></p>
                        </div>
                        <div class="mb-4">
                            <label for="status" class="form-label">Status</label>
                            <select name="status" class="form-control" id="status" name="status">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="offerdescription" class="form-label">Description</label>
                            <input type="text" placeholder="Type here" value = "<%= locals.offerdata.offerdescription %>" class="form-control" id="offerdescription" name="offerdescription">
                            <p class="perror mb-2" id="error2" style="display: none; color: red;"></p>
                        </div>
                        <div class="mb-4">
                            <label for="percentage" class="form-label">Discount Rate</label>
                            <input type="number" placeholder="Type here" class="form-control" value="<%= locals.offerdata.percentage %>" id="percentage" name="percentage">
                            <p class="perror mb-2" id="error3" style="display: none; color: red;"></p>
                        </div>
                        <% } %>
                        <div class="d-grid">
                            <button class="btn btn-primary">Edit Offer</button>
                        </div>
                    </form>
                </div>
                
            </div> 
        </div> 
    </div> 
</section> 


<script src="/public/js/editOffer.js"></script>

<%- include('layout/footer.ejs') %>