<%- include("layout/header1.ejs") %>

		<main class="main">
 			<div class="container">
				<ul class="checkout-progress-bar d-flex justify-content-center flex-wrap">
					<li class="active">
						<a href="/cart">Shopping Cart</a>
					</li>
					<li>
						<a href="#">Checkout</a>
					</li>
					<li class="disabled">
						<a href="#">Order Complete</a>
					</li>
				</ul>

                <% if(locals.udata) { %>
				<div class="row">
					<div class="col-lg-8">
						<div class="cart-table-container">
							<table class="table table-cart">
                                <% if(locals.udata.cart.length === 0 ) { %>
                                    <h2>Oops! Your Cart is Empty!!</h2>
                                <% } else  {%>
								<thead>
									<tr>
										<th class="thumbnail-col"></th>
										<th class="product-col">Product</th>
										<th class="price-col">Price</th>
										<th class="qty-col">Quantity</th>
										<th class="text-right">Subtotal</th>
									</tr>
								</thead>
                                <% for(let i = 0; i < locals.udata.cart.length; i++) { %>
                                    <tbody>
                                        <tr class="product-row">
                                            <td>
                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="public/image/<%= locals.udata.cart[i].product_id.mainimage %>" alt="product">
                                                    </a>
                                                    
                                                    <button class="remove-btn"   data-proid="<%= locals.udata.cart[i].product_id._id %>" title="Delete"></button>
                                                   
                                                </figure>
                                            </td>
                                            <td class="product-col">
                                                <h5 class="product-title">
                                                    <a href="product.html"><%= locals.udata.cart[i].product_id.productname %></a>
                                                </h5>
                                            </td>
                                            <td class="proprice"><%= locals.udata.cart[i].product_id.price %></td>
                                            <td>
                                                <div class="product-single-qty d-flex">
													<button class="minusbtn border-light rounded-1 px-4 btn" data-proid="<%= locals.udata.cart[i].product_id._id %>">-</button>
                                                    <input class="form-control qtyvalue m-0"  type="number" value="<%= locals.udata.cart[i].quantity %>" readonly style="background-color: white;">
													<button class="plusbtn border-light rounded-1 px-4 btn" data-proid="<%= locals.udata.cart[i].product_id._id %>">+</button>
                                                </div><!-- End .product-single-qty -->
                                            </td>
											<% let total = locals.udata.cart[i].quantity * locals.udata.cart[i].product_id.price %>
                                            <td class="text-right"><span class="subtotal-price"><%= total %></span></td>
                                        </tr>
                                    </tbody>
                                <% } } %>


								
							</table>
						</div><!-- End .cart-table-container -->
					</div><!-- End .col-lg-8 -->

					<div class="col-lg-4">
						<div class="cart-summary">
							<h3>CART TOTALS</h3>

							<table class="table table-totals">
								<tbody>
									<% let total = 0 %>
									<% for(let i = 0; i < locals.udata.cart.length; i++){ %>
									<tr>
										<% let product = locals.udata.cart[i] %>
										<% let productTotal = product.quantity * product.product_id.price %>
										
									</tr>
									<% total += productTotal %>
									<% } %>
								</tbody>

								<tfoot>
									<tr>
										<td>Total</td>
										<td >Rs: <span id="product-total"><%= total %></span></td>
									</tr>
								</tfoot>
							</table>

							<div class="checkout-methods">
								<button <% if(locals.udata.cart.length === 0) {%> disabled=true <% } %>  onclick="window.location.href=`/checkout`" class="btn btn-block btn-dark">Proceed to Checkout
									<i class="fa fa-arrow-right"></i></button>
							</div>
						</div><!-- End .cart-summary -->
					</div><!-- End .col-lg-4 -->
				</div><!-- End .row -->
                <% } %>
			</div><!-- End .container -->

			<div class="mb-6"></div><!-- margin -->
		</main><!-- End .main -->
  
<script src="/public/js/cart.js"></script>

<%- include("layout/footer.ejs") %>		