


<%- include("layout/header1.ejs") %>

<main class="main">
    <div class="page-header">
        <div class="container d-flex flex-column align-items-center">
            <h1>My Account</h1>
        </div>
    </div>

    <div class="container account-container custom-account-container">
        <div class="row">
            <div class="sidebar widget widget-dashboard mb-lg-0 mb-3 col-lg-3 order-0">
                <ul class="nav nav-tabs list flex-column mb-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/user-profile" role="tab" aria-controls="edit" aria-selected="false">Account details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-orders" role="tab" aria-controls="order" aria-selected="true">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/downloads" role="tab" aria-controls="download" aria-selected="false">Downloads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/address" >Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/change-password" role="tab" aria-controls="shipping" aria-selected="false">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wishlist">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 order-lg-last order-1 tab-content">
                <!-- Dashboard content displayed on load -->
                <div id="dashboard-content">
                    <p>Welcome to your account dashboard. Here you can view your recent activity and update your account information.</p>
                </div>
                <!-- Other content loaded dynamically -->
                <div id="dashboard-content">
                    <% if(locals.user) { %>     
                        <div>
                            <h3 class="account-sub-title d-md-block mt-0 pt-1 ml-1"><i class="icon-user-2 align-middle mr-3 pr-1"></i>Account Details</h3>
                            <div class="account-content">
                                <form action="/user-profile" method="post" id="userProfile">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="acc-name">First name <span class="required">*</span></label>
                                                <div class="text-danger" id="fnameError"></div>
                                                <input type="text" class="form-control" placeholder="Editor" id="fname" name="fname" value="<%= locals.user.fname %>" required />
                                                <p id="fnameError" style="color: red;"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="acc-lastname">Last name <span class="required">*</span></label>
                                                <div class="text-danger" id="lnameError"></div>
                                                <input type="text" class="form-control" id="lname" name="lname" value="<%= locals.user.lname %>" required />
                                                <p id="lnameError" style="color: red;"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="mobile_number">Mobile Number <span class="required">*</span></label>
                                        <div class="text-danger" id="mobileNumberError"></div>
                                        <input type="number" class="form-control" id="mobile_number" name="mobile_number" placeholder="Enter your number" value="<%= locals.user.mobile_no %>" required />
                                        <p id="mobileNumberError" style="color: red;"></p>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="acc-email">Email address <span class="required">*</span></label>
                                        <input type="email" class="form-control" id="acc-email" name="acc-email" value="<%= locals.user.email %>" readonly required />
                                    </div>
                                    <div class="form-footer mt-3 mb-0">
                                        <button type="submit" class="btn btn-dark mr-0">
                                            Save changes
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div><!-- End .tab-content -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->

<%- include("layout/footer.ejs") %>

<script>
    const fname = document.getElementById('fname');
    const lname = document.getElementById('lname');
    const mobile = document.getElementById('mobile_number');

    const error1 = document.getElementById('fnameError');
    const error2 = document.getElementById('lnameError');
    const error3 = document.getElementById('mobileNumberError');

    function firstNameValidate(name) {
        const namePattern = /^[a-zA-Z]+$/;
        if (name.trim() === "") {
            error1.innerHTML = "Please enter first name!!";
            error1.style.display = "block";
        } else if (!namePattern.test(name)) {
            error1.innerHTML = "Name should only contain alphabets!!";
            error1.style.display = "block";
        } else {
            error1.innerHTML = "";
            error1.style.display = "none";
        }
    }

    function lastNameValidate(name) {
        const namePattern = /^[a-zA-Z]+$/;
        if (name.trim() === "") {
            error2.innerHTML = "Please enter last name!!";
            error2.style.display = "block";
        } else if (!namePattern.test(name)) {
            error2.innerHTML = "Name should only contain alphabets!!";
            error2.style.display = "block";
        } else {
            error2.innerHTML = "";
            error2.style.display = "none";
        }
    }

    function mobileValidate(mobile) {
        const mobilePattern = /^\d{10}$/;
        const repeatedDigitsPattern = /^(\d)\1{9}$/;

        if (mobile.trim() === "") {
            error3.innerHTML = "Please enter your mobile number!!";
            error3.style.display = "block";
        } else if (!mobilePattern.test(mobile)) {
            error3.innerHTML = "Contact number should only be digits and must be exactly 10 digits long!!";
            error3.style.display = "block";
        } else if (repeatedDigitsPattern.test(mobile)) {
            error3.innerHTML = "Number with all repeated digits is not allowed!!";
            error3.style.display = "block";
        } else {
            error3.innerHTML = "";
            error3.style.display = "none";
        }
    }

    fname.addEventListener('keyup', () =>{
    const fnameData = fname.value;
    firstNameValidate(fnameData)
    })

    fname.addEventListener('blur', () =>{
        const fnameData = fname.value;
        firstNameValidate(fnameData)
    })


    lname.addEventListener('keyup', () =>{
        const lnameData = lname.value;
        lastNameValidate(lnameData)
    })

    lname.addEventListener('blur', () =>{
        const lnameData = lname.value;
        lastNameValidate(lnameData);
    })

    mobile_number.addEventListener('keyup', () =>{
        const mobileData = mobile_number.value;
        mobileValidate(mobileData)
    })

    mobile_number.addEventListener('blur', () =>{
        const mobileData = mobile_number.value;
        mobileValidate(mobileData)
    })

    document.getElementById('userProfile').addEventListener('submit', function(event) {
        
        const fnameData = fname.value;
        const lnameData = lname.value;
        const mobileData = mobile_number.value;

        firstNameValidate(fname);
        lastNameValidate(lname);
        mobileValidate(mobile);

        if(error1.innerHTML !== "" || error2.innerHTML !== "" || error3.innerHTML !== "")
        {
        event.preventDefault();
        }
    
})
</script>