<%- include("layout/header1.ejs") %>

<main class="main">
    <div class="page-header">
        <div class="container d-flex flex-column align-items-center">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Wishlist
                        </li>
                    </ol>
                </div>
            </nav>
  
            <h1>Wishlist</h1>
        </div>
    </div>

    <div class="container">
        <div class="wishlist-title">
            <h2 class="p-2">My wishlist</h2>
        </div>

        <% if(locals.udata) { %>
            <div class="wishlist-table-container">
                <table class="table table-wishlist mb-0">
                    <% if(locals.udata.wishlist.length === 0) { %>
                        <h2>Oops! Your Wishlist is Empty!!</h2>
                    <% } else { %>    
                    <thead>
                        <tr>
                            <th class="thumbnail-col"></th>
                            <th class="product-col">Product</th>
                            <th class="price-col">Price</th>
                            <th class="status-col">Stock Status</th>
                            <th class="action-col">Actions</th>
                        </tr>
                    </thead>
                    <% for(let i = 0; i < locals.udata.wishlist.length; i++) {%>
                        <tbody>
                            <tr class="product-row">
                                <td>
                                    <figure class="product-image-container">
                                        <a href="product.html" class="product-image">
                                            <img src="public/image/<%= locals.udata.wishlist[i].product_id.mainimage %>" alt="product">
                                        </a>
        
                                        <!-- <button class="crossbtn" data-proid="<%= locals.udata.wishlist[i].product_id._id %>" title="Delete"></button> -->
                                    </figure>
                                </td>
                                <td>
                                    <h5 class="product-title">
                                        <a href="product.html"><%= locals.udata.wishlist[i].product_id.productname %></a>
                                    </h5>
                                </td>
                                <td class="price-box"><%= locals.udata.wishlist[i].product_id.price %></td>
                                <td>
                                    <span class="stock-status"data-stock="<%= locals.udata.wishlist[i].product_id.stock %>">
                                        <% if(locals.udata.wishlist[i].product_id.stock > 0) { %>
                                        In Stock 
                                    <% }else{ %>
                                            Out of Stock
                                    <% } %>
                                    </span>
                                </td>
                                <td class="action-buttons">
                                    <a href="/productdetails?id=<%= locals.udata.wishlist[i].product_id._id  %>" class="btn btn-quick-view mt-1 mt-md-0" title="Quick View">Quick View</a>
                                    <button class="btn btn-dark btn-add-cart product-type-simple btn-shop" data-proid="<%= locals.udata.wishlist[i].product_id._id %>">
                                        ADD TO CART
                                    </button>
                                    <button class="wastebtn" data-proid="<%= locals.udata.wishlist[i].product_id._id %>" title="Remove Item">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
        
                        </tbody>
                    <% } } %>
                </table>
            </div>

        <% } %>
        <!-- End .cart-table-container -->
    </div><!-- End .container -->
</main>

<script src="/public/js/wishlist.js"></script>

<%- include("layout/footer.ejs") %>